* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FBF8F3;
    color: #222128;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #0F1724;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

#Client {
    max-width: 1000px;
    margin: 20px auto;
    background: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.delete-client-button {
    display: inline-block;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 16px;
    padding: 10px 15px;
    background-color: #DC2626;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.delete-client-button:hover {
    background-color: #EF4444;
    transition: 200ms;
}

.edit-client-button {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #059669;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.edit-client-button:hover {
    background-color: #047857;
    transition: 200ms;
}

form {
    display: inline-block;
}

#buttons {
    display: flex;
    justify-content: left;
    margin-top: 10px;
}