* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

#Client {
    max-width: 600px;
    margin: 20 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delete-client-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.delete-client-button:hover {
    background-color: #a71d2a;
    transition: 300ms;
}

.edit-client-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #ffc107;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.edit-client-button:hover {
    background-color: #d39e00;
    transition: 300ms;
}
