<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/homepage.css">
</head>
<body>
    <%- include('navbar') %>

    <h1>Welcome to my Website</h1>
    <p>A centralized platform for photographers to organize clients and track sessions effortlessly.</p>
</body>
</html>