<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Client</title>
    <link rel="stylesheet" href="/forms/forms.css">
</head>
<body>
    <%- include('../navbar') %>
    <h1>New Client</h1>
    <form action="/clients" method="post">
        <label for="clientName">Name:</label>
        <input type="text" name="clientName" id="clientName">

        <label for="clientEmail">Email:</label>
        <input type="text" name="email" id="clientEmail">

        <label for="phoneNumber">Phone:</label>
        <input type="number" name="phone" id="phoneNumber">

        <button>Submit</button>
    </form>
</body>
</html>