<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Client</title>
</head>
<body>
    <h1>New Client</h1>
    <form action="/clients/update/<%= foundClient.id %>" method="post">
        <label for="clientName">Name:</label>
        <input type="text" name="clientName" id="clientName" value="<%= foundClient.clientName %>">

        <label for="clientEmail">Email:</label>
        <input type="text" name="email" id="clientEmail" value="<%= foundClient.email %>">

        <label for="phoneNumber">Phone:</label>
        <input type="number" name="phone" id="phoneNumber" value="<%= foundClient.phone %>"">

        <button>Submit</button>
    </form>
</body>
</html>