<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sessions</title>
</head>
<body>
    <h1>Session List</h1>
    <% allSessions.forEach(oneSession => { %>
        <div id="Session">
            <h2>Date: <%= oneSession.date %></h2>
            <h2>Location: <%= oneSession.location %></h2>
            <h2>Price: <%= oneSession.price %>BD</h2>
            <h2>Notes: <%= oneSession.notes %></h2>
        </div>
   <% }); %>
</body>
</html>